[Desktop Entry]
Version=1.0
Type=Application
Name=LSHW
Comment=list hardware shit
Exec=sudo gtk-lshw
Icon=applications-system
Path=
Terminal=true
StartupNotify=false
