[Desktop Entry]
Version=1.0
Type=Application
Name=gcompmgr
Comment=Graphical frontend to xcompmgr
Exec=gcompmgr
Icon=applications-system
Path=
Terminal=false
StartupNotify=false
